*.orig
*.log
*.local
*.local.*
application-local.*
target/
dependencies/
/.idea/*
!/.idea/misc.xml
!/.idea/checkstyle-idea.xml
!/.idea/externalDependencies.xml
!/.idea/inspectionProfiles
!/.idea/inspectionProfiles/*
*.iml
*.*___jb_tmp___
java_pid*.hprof
.classpath
.project
.settings
.factorypath
#jacoco
unit-test-coverage/
/.idea/
